xmlserializer/test/bindingTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FillMe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FillChild">
                    <xs:complexType>
                        <xs:attribute name="BooleanAttr" type="xs:boolean" use="required"/>
                        <xs:attribute name="StringAttr" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="IntegerAttr" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
