Schemas/ParameterFrameworkConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ConfigurationFilePath">
        <xs:attribute name="Path" type="xs:anyURI" use="required"/>
    </xs:complexType> 
    <xs:complexType name="PluginFile">
        <xs:attribute name="Name" type="xs:NMTOKEN" use="required"/>
    </xs:complexType> 
    <xs:complexType name="PluginLocation">
            <xs:sequence>
                <xs:element name="Plugin" type="PluginFile" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Folder" type="xs:anyURI" use="required"/>     
    </xs:complexType> 
    <xs:element name="SubsystemPlugins">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Location" type="PluginLocation" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="SettingsConfigurationType">
        <xs:sequence>
            <xs:element name="ConfigurableDomainsFileLocation" type="ConfigurationFilePath"/>
        	<xs:element name="BinarySettingsFileLocation" type="ConfigurationFilePath" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ParameterFrameworkConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SubsystemPlugins" />
            	<xs:element name="StructureDescriptionFileLocation" type="ConfigurationFilePath"/>
            	<xs:element name="SettingsConfiguration" type="SettingsConfigurationType" minOccurs="0"/>
            </xs:sequence>
        	<xs:attribute name="SystemClassName" use="required" type="xs:NMTOKEN"/>
        	<xs:attribute name="ServerPort" use="required" type="xs:positiveInteger"/>
        	<xs:attribute name="TuningAllowed" use="required" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
