schemas/Subsystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="ComponentLibrary.xsd"/>
	<xs:complexType name="SubsystemType">
		<xs:sequence>
			<xs:element ref="ComponentLibrary"/>
			<xs:element name="InstanceDefinition">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence maxOccurs="unbounded">
							<xs:group ref="ParameterBlockGroup"/>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="InstanceDefintionSubElementsUniqueness">
					<xs:selector xpath="*"/>
					<xs:field xpath="@Name"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="Nameable"/>
		<xs:attribute name="Type" use="required"/>
		<xs:attribute name="Mapping" use="optional"/>
	</xs:complexType>
	<xs:element name="Subsystem" type="SubsystemType">
		<xs:keyref name="InstanceDefinitionComponentTypeNotFound" refer="ComponentTypeUniqueness">
			<xs:selector xpath="InstanceDefinition/Component"/>
			<xs:field xpath="@Type"/>
		</xs:keyref>
	</xs:element>
</xs:schema>
