Schemas/SystemClass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="FileIncluder.xsd"/>
	<xs:include schemaLocation="Subsystem.xsd"/>
	<xs:element name="SystemClass">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="SubsystemInclude" type="FileIncluderType"/>
					<xs:element ref="Subsystem"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
